<form action = "/oauth/authorize" method = "post">
    <fieldset>
        <legend>{{i18n 'access.confirmation' this bundle = "i18n/messages"}}</legend>

        {{! Error container }}
        <div class = "alert alert-error">
            {{i18n "access.confirmation.client.title" authorizationRequest.clientId bundle = "i18n/messages"}}
        </div>

        {{#each scopes}}
            <div class = "form-group">
                <label for = "username">{{@key}}:</label>
                <input
                    class = "form-control"
                    type = "checkbox"
                    name = "{{@key}}"
                    value="true"
                />
            </div>
        {{/each}}

        <input name='user_oauth_approval' value='true' type='hidden'/>
        <input type = "hidden" name = "{{_csrf.ParameterName}}" value = "{{_csrf.token}}"/>

        <button type = "submit" class = "btn btn-primary">
            {{i18n 'approve' bundle = "i18n/messages"}}
        </button>
    </fieldset>
</form>
