{{#> page }}
    <div class="container">
      <div class="layer">
        <form action="/oauth/authorize" method="post">
            <fieldset>
                <legend>{{message 'access.confirmation'}}</legend>

                {{! Error container }}
                <div class="alert alert-warning">
                    {{message "access.confirmation.client.title" authorizationRequest.clientId}}
                </div>

                {{#each scopes}}
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                          type="checkbox"
                          class="form-check-input"
                          type="checkbox"
                          name="{{@key}}"
                          value="true"
                      />
                      {{@key}}
                    </label>
                  </div>
                {{/each}}

                <input name='user_oauth_approval' value='true' type='hidden'/>
                <input type="hidden" name="{{_csrf.ParameterName}}" value="{{_csrf.token}}"/>

                <button type="submit" class="btn btn-primary">
                    {{message 'approve'}}
                </button>
            </fieldset>
        </form>
      </div>
    </div>
{{/page}}
