{{#> page }}
  <div class="container">
    <div class="block">
      <div class="info">
        <div>
          <h2>{{message 'form.sign-up.header'}}</h2>
          <p>{{message 'form.sign-up.text'}}</p>
          <label for="sign-up" class="btn btn-light">{{message 'sign-up'}}</label>
        </div>
        <div>
          <h2>{{message 'form.login.header'}}</h2>
          <p>{{message 'form.login.text'}}</p>
          <label for="sign-up" class="btn btn-light">{{message 'login'}}</label>
        </div>
      </div>
      <input id="sign-up" type="checkbox" {{#if isSignUp}} checked="checked" {{/if}}/>
      <div class="content">
        {{!-- Sign Up --}}
        <div class="on">
          <form action="/signup" method="post">
            <fieldset>
              <legend>{{message 'sign-up'}}</legend>

              {{! Error container }}
              {{#if error}}
                <div class="alert alert-danger">
                  {{message "form.login.invalid_params"}}
                </div>
              {{/if}}

              <div class="group">
                <input
                    type="text"
                    name="fullName"
                    required="required"
                    value="{{fullName}}"
                />
                <label for="name">{{message 'fullname'}}</label>
              </div>

              <div class="group {{#if duplicate}} has-danger {{/if}}">
                <input
                    type="email"
                    name="username"
                    required="required"
                    value="{{username}}"
                />
                <label for="username">{{message 'username'}}</label>
                {{#if duplicate}}
                  <div class="form-control-feedback">{{message 'error.username.duplicate'}}</div>
                {{/if}}
              </div>

              <div class="group">
                <input
                    type="password"
                    name="password"
                    required="required"
                />
                <label for="password">{{message 'password'}}</label>
              </div>

              <button type="submit" class="btn btn-primary">
                {{message 'sign-up'}}
              </button>
            </fieldset>
          </form>
        </div>

        {{!-- Sign In --}}
        <div class="off">
          <form action="/login" method="post">
            <fieldset>
              <legend>{{message 'login'}}</legend>

              {{! Error container }}
              {{#if error}}
                <div class="alert alert-danger">
                  {{message "form.login.invalid_params"}}
                </div>
              {{/if}}

              <div class="group">
                <input
                    type="email"
                    name="username"
                    required="required"
                />
                <label for="username">{{message 'username'}}</label>
              </div>

              <div class="group">
                <input
                    type="password"
                    name="password"
                    required="required"
                />
                <label for="password">{{message 'password'}}</label>
              </div>

              <input type="hidden" name="{{_csrf.ParameterName}}" value="{{_csrf.token}}"/>

              <button type="submit" class="btn btn-primary">
                {{message 'login'}}
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
{{/page}}
